# You can find documentation for all the supported env variables at:
# https://docs.immich.app/install/environment-variables

# Location where uploaded files are stored
UPLOAD_LOCATION=/photos

# Database storage location
DB_DATA_LOCATION=./postgres

# Optional timezone
# TZ=America/New_York

# Immich version
IMMICH_VERSION=v3

# PostgreSQL connection password
# Use only A-Za-z0-9 characters
DB_PASSWORD=CHANGE_ME

# Database configuration
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
